<% if !logged_in? %>

    <div id="main">
        <div class="header">
            <h1>Welcome to the EH ExCom Member Point Tracker</h1>
            <h2>Please log in below...</h2>
        </div>

        <div class="content" style="text-align:center;">
            <br>
            <%= form_tag '/login', :id => 'login' do %>
                <label for="uin_email">UIN or email</label>
                <%= text_field_tag :uin_email %>
                <br>
                <%= label_tag "Password" %>
                <%= text_field_tag :password, '', :type => 'password' %>
                <br>
                <%= submit_tag "Login", :class => "pure-button" %>
            <% end %>
        </div>
    </div>

<% else %>

    <div id="main">
        <div class="header">
            <h1>EH ExCom Participation Tracker</h1>
            <h2>Select an option from the left menu bar.</h2>
        </div>

        <div class="content">

            <h2 class="content-subhead">Welcome to the Texas A&M EH ExCom Member Point Tracker</h2>
            <p>
            Here you can see information about your profile, such as your point progress and events attended. You can also see details of future activities and point values.
            </p>

            <%# <div class="pure-g"> %>
            <div class="pure-u-1-1">
                <img class="pure-img-responsive" src="https://i.ytimg.com/vi/9L0haqIcUmQ/maxresdefault.jpg" alt="Zachry Engineering Education Complex">
            </div>
            <%# <div class="pure-u-1-1">
                <img class="pure-img-responsive" src="https://lh3.googleusercontent.com/proxy/mEDxhKL8KxTfSQb0mjePvAmUoUj1xxC3kSw3-zP-hy5FLu06_bUkqgbGBVbFDeYIGOq_lOhW_fn0ibgW5tk93Y6TDSg34oXoUl7F69wRI6W4LE3BCVHw" alt="Administration Building">
            </div> %>
            <div class="pure-u-1-1">
                <img class="pure-img-responsive" src="https://12thman.com/images/2017/1/23/kyle4.jpg" alt="Kyle Field">
            </div>
            <%# </div> %>
        </div>
    </div>

<% end %>

