<div id="main">
    <div class="header">
      <h1>Committees</h1>
    </div>
    <a class="pure-button pure-button-primary" href="/committees/" > Return to Committees </a>

    <div class="content" style="background:#500000;padding:0;width:60%;border:2px solid black">
        <div class="content" style="background:white;padding:0 2em;margin:20px;border:1px solid black">
            <h1 style="text-align: center;color:#500000">Delete Committee Information</h1>
            <%= form_for(@committee, :url => committee_path(@committee.id), :method =>'delete') do |f| %>
                <p>
                <%= f.label "Committee Name", style: 'text-transform: capitalize; font-weight:bold;'%>
                <br>
                <%= f.text_field :committee , placeholder: @committee.committee, disabled: true,style: 'text-transform: capitalize;'%>
                </p> 
                <p>   
                <%= f.label "Point Threshold", style: 'text-transform: capitalize;font-weight:bold;'%>
                <br>
                <%= f.text_field :point_threshold, placeholder: @committee.point_threshold,disabled: true%>
                </p> 
                <p> 
                <%= f.label "Committee Head Name", style: 'text-transform: capitalize;font-weight:bold;'%>
                <br>
                <%= f.text_field :head_first_name , placeholder: @committee.head_first_name, disabled: true, style: 'text-transform: capitalize;'%>
                <%= f.text_field :head_last_name , placeholder: @committee.head_last_name, disabled: true, style: 'text-transform: capitalize;'%>
                </p> 
                <p> 
                <%= f.label "Committee Head Email", style: 'text-transform: capitalize;font-weight:bold;'%>
                <br>
                <%= f.text_field :email, placeholder: @committee.email, disabled: true%>
                </p>
                <p>
                <%= f.submit 'Delete Committee', :class => 'pure-button pure-button-primary' %>
                </p>
            <% end %>
        
        </div>
    </div>
</div>