
<div id="main">
    <div class="header">
      <h1>Committees</h1>
    </div>

    <div class="content" style="text-align:center;">
        <br>
        <div class="pure-button-group" role="group" aria-label="...">
          <%= link_to "Add Committee", new_committee_path, class: "pure-button pure-button-primary"%>
        </div>                
        <br>
        <div id="list" class="pure-u-1">
            <table class="table">
                <tr class = "head">
                    <th>Name</th>
                    <th>Committee Head</th>
                    <th>Committee Contact</th>
                    <th>Point Threshold</th>
                    <th>Actions</th>
                </tr>
                <% @committees.each do |committee| %>
                <tr>
                    <td class="right"><%= committee.committee %></td>
                    <td><%= committee.head_first_name || 'None' %> <%= committee.head_last_name || 'None'  %></td>
                    <td><%= committee.email || 'None'  %></td>
                    <td><%= committee.point_threshold || 'None' %></td>
                    <td class="actions">
                        <%= link_to "Edit", edit_committee_path(committee), class: "pure-button pure-button-primary"%>
                        <%= link_to "Delete", committee_delete_url(committee), class: "pure-button pure-button-primary", id: committee.id.to_s+"_delete"%>
                        <%= link_to "Subcommittees", committee_subcommittees_path(committee), class: "pure-button pure-button-primary"%>
                        <%= link_to "Members", committee, class: "pure-button pure-button-primary"%>
                    </td>
                </tr>
                <% end %>
        </table>
        </div>
    </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
    padding:8px;
    border-right:1px solid #ccc;
  }
  td{
    border-right:1px solid #ccc;
    color:black;
  }
  .table{
    border:2px solid black;
  }
  #table{
    border-collapse: collapse;
    width:100%;
  }

  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  @media 
only screen and (max-width: 760px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  .table{
    border:none;
    border-bottom: 2px solid #ccc;
  }
  tr { border: 2px solid #ccc;border-bottom:none; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
  }

  td:nth-of-type(3){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  td:nth-of-type(3):hover{
    overflow: visible;
    text-overflow: 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    color:#500000;
    font-weight: bold;
  }
  .head{
    display:none;
  }
  td:nth-of-type(5){
    padding-left:6px;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Committee Head"; }
  td:nth-of-type(3):before { content: "Committee Contact"; }
  td:nth-of-type(4):before { content: "Point Threshold"; }

}
  
</style>