
<div class="header">
    <h1>Activities</h1>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="base" class="contents pure-g">
    <!-- Establishes the left side of the view page. It'll be a scrolling section of events-->
    <div id="list" class="pure-u-1">
        <!--Loops through the activity data and creates a new unique event-item object for each set of info -->
        <% @activity.uniq.each_with_index do |activity,index| %>
            <div class="event-item pure-g">
                <div class="pure-u-3-4"> 
                    <h5 class="event-type"><%= activity._type%></h5>
                    <h4 class="event-name"> <%= activity.name%> </h4>
                    <h5 hidden class="event-date"> <%= activity.date%> </h5>
                    <h5 id="<%= index%>"class="datef"></h5> 
                    <p class="event-desc">
                        <%= activity.description%>
                    </p> 
                    <h5 class="event-points"> Available Points: <%= activity.point_value%> </h5>
                    <% if current_user.admin? %>
                        <div class="compress">
                            <%= link_to("View Attendance", activity_path(activity), :class => 'action show', class: "pure-button button-secondary") %>
                        </div>
                    <% end%>
                </div>
            </div>
        <% end %>


        <!--Button to create activities -->
        <% if current_user.admin? %>
            <a class="pure-button pure-button-primary" href="/activities/new"> Create Activity </a>
        <% end%>
    </div>
    <!--This is where the info for the events will go-->
    <div id="main" class="pure-u-1 pure-u-lg pure-u-xl" style="width:100%;">
        <div class="event-content">
            <!--Finds the first activity-->
            <% @activity.find() do |activity| %>
                <div class="event-content-header pure-g">
                    <div class="pure-u-1-2"> 
                        <h1 class="event-content-title">
                            <%= activity.name%>
                        </h1>
                        <p class="event-content-subtitle">
                            <span> Activity Type: <%= activity._type%> </span> 
                        </p>
                        <p class="event-content-points"><span> Available Points: <%= activity.point_value%> </span> </p>
                        <p id="ddate" hidden class="event-content-date"> <%=activity.date%> </p>
                        <p class="event-content-date"></p><!--<p class="event-content-time"></p>-->
                    </div>
                </div>
                <div class="event-content-body">
                    <%= activity.description%>
                </div>
            <% end %>

        </div>
    </div>
</div>

<script>
    /*
        Activates when an event-item object is clicked. It will then generate the html in the main body
        containing the data of the event-item object clicked.
    */
    $('.event-item').on("click", function(){
        var container = $(this).find(".pure-u-3-4");
        var name = container.find(".event-name");
        var type = container.find(".event-type");
        var date = container.find(".event-date");
        var dat = date.text();
        var dateF = formatDate(dat);
        var hours = formatHours(dateF.getHours());
        var minutes = formatMinutes(dateF.getMinutes());
        var point = container.find(".event-points");
        var desc = container.find(".event-desc");
        $("div.event-content").html(function(){
            return '<div class="event-content-header pure-g"> <div class="pure-u-1-2"> <h1 class="event-content-title">'+ name.text() + '</h1> <p class="event-content-subtitle"> <span> Activity Type: ' + type.text() +'</span> </p>  <p class="event-content-points"><span>' +point.text()+' </span> </p><p class="event-content-subtitle"> <span><a> On ' + dateF.toDateString() +' at ' + hours +':'+minutes+append+'</a></span> </p> </div> </div> <div class="event-content-body"> ' + desc.text() + '</div>';
        });
    });
    /*
        Takes the output of activity.date, parses it and then makes a date object out of it
        EX: 2020-08-23T11:00:00-05:00 => MON AUG 03 2020
    */
    function formatDate(str1){
        // str1 format should be yyyy/mm/dd. Separator can be anything e.g. / or -. It wont effect
        var yr1   = parseInt(str1.substring(0,6));
        var mon1  = parseInt(str1.substring(6,9));
        var dt1   = parseInt(str1.substring(9,12));
        var ti1   = parseInt(str1.substring(12,15));
        var ti2   = parseInt(str1.substring(15,18));
        var date1 = new Date(yr1, mon1-1, dt1, ti1, ti2);
        return date1;
    };
    /*
        Converts the hours into the 12 hr system and alters the global variable append
    */
    function formatHours(hrs){
        if(hrs>12){
            hrs -= 12;
            append =" PM";
        }
        else{append =" AM";}
        return hrs;
    };
    /*
        Adds a leading 0 to the minutes if the minutes are single digit
    */
    function formatMinutes(min){
        if(min-10<0){
            min = "0"+String(min);
        }
        return String(min);
    };
    
    /*
        Runs once the page is loaded. It searches for all of the event-date objects and then sends the innerHTML
        to my function formatDate, where the date is then formatted. It then sends the date to it's respective event-item object.
    */
    $(document).ready(function(){
        var Dates = document.getElementsByClassName('event-date');
        for (var i=0; i<Dates.length; i++) {
            var containDate = Dates[i].innerHTML;
            var strDate = String(containDate);
            var formDate = formatDate(strDate);
            $("#"+i).html(function(){
                return '<span><a> ' + formDate.toDateString() +'</a></span>';
            });
        };
    });

    /*
        Runs once the page is loaded. It works similarly to the function above, but it alters the event-content-header areas.
    */
    var append = "";
    $(document).ready(function(){
        var fDate = document.getElementById("ddate");
        var containDate = fDate.innerHTML;
        var strDate = containDate;
        var formDate = formatDate(strDate);
        var hours = formatHours(formDate.getHours());
        var minutes = formatMinutes(formDate.getMinutes());
        $("p.event-content-date").html(function(){
            return '<span><a> On ' + formDate.toDateString() +' at ' + hours +':'+minutes+append+'</a></span>';
        });
        
    });
</script>



<style>
/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- base STYLES --
 * This base consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#base`
 */
#base, #nav, #list, #main {
    margin: 0;
    margin-right:auto;
    padding: 0;

}
.contents{
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}

/* Event Item Styles */
.event-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #a7a7a7;
    border-left: 6px solid transparent;
}
.pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.compress{
    content: "";
    display: table;
    clear: both;
    width:40%;
    float: right;
    margin-right:-40px;
}
.button-secondary{
    background: #500000; 

}
/*
.button-secondary:hover{
    background:none;  
}
Might want this for some other thing
.email-avatar {
    border-radius: 3px;
    margin-right: 0.5em;
}*/
.event-item h5{
    text-transform: uppercase;
    color: #999;
    margin: 0;
}
.event-item h4{
    margin: 0;
}
.event-item .pure-u-3-4{
    width:90%;
}
.event-item p{
    font-size: 80%;
    margin: 0.4em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event-item .pure-u h5{
    text-transform: uppercase;
    color: #999;
    margin: 0 0 0 20px;
}
.event-item .pure-u h6{
    text-transform: uppercase;
    color: #999;
    margin: 0 0 0 40px;
    justify-content: center;
}

.event-item:hover{
    background: #eee;
}
.event-item-unread {
    border-left: 6px solid #1b98f8;
}
.event-item2 {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    justify-content: center;
}
    .event-item2 a{
        width:100%;
    }


/* Event Content Styles */
.event-content-header, .event-content-body, .event-content-footer {
    padding: 1em 2em;
}
    .event-content-header {
        border-bottom: 1px solid #ddd;
        background:#500000;
        color:white;
    }
    .event-content-header a{
        color:#72C2FE;
        text-decoration: none;
    }
    .event-content-body{
        min-height: 30vh;
    }

    .event-content-title {
        margin: 0.5em 0 0;
    }
    .event-content-subtitle {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .event-content-subtitle span {
            color: #d1d1d1;
        }
    .event-content-points {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .event-content-points span {
            color: #d1d1d1;
        }
    .event-content-date {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .event-content-date span {
            color: #d1d1d1;
        }
    .event-content-time {
        font-size: 1em;
        margin: 0;
        font-weight: normal;
    }
        .event-content-time span {
            color: #d1d1d1;
        }
    .event-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .event-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

.email-avatar {
     width: 40px;
    height: 40px;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 768px) {

    /* Move the base over so we can fit the nav + list in on the left */
    #base {
        padding-left:250px; /* "left col (nav + list)" width */
        position: relative;
    }

    #base .header{
        margin-left: -250px;
        padding-left: 182px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }


    #list {
        margin-top: 115px;
        margin-left: -250px;
        width: 84%;
        height: 28%;
        bottom: 90%;
        border-bottom: 1px solid #ddd;
    }
    .pure-button {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        width: 100%;
    }

    #main {
        position: fixed;
        top: 45%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        width:350px;
        height: auto;
        bottom: 0;
        border-right: 1px solid #a7a7a7;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        margin-left:100px;
        padding: 0;
        right:0;
        width:auto;
    }

    
    .pure-button{
        width: 100%;
    }
}
</style>

