<div id="main">
    <div class="header">
        <h1> <%= @committee.committee %> Subcommittees</h1>
    </div>

    <% flash.each do |type, msg| %>
        <div style="color: red">
            <%= msg %>
          </div>
          <%flash.alert = ""%>
    <% end %>

    <div class="pure-button-group" role="group" aria-label="..." style="text-align:center;">
        <p>
        <%= link_to "Return to Subcommittees", committee_subcommittees_path(@subcommittee.committee), class: "pure-button pure-button-primary"%>
        </p>
    </div> 

    <div id="outer" class="content" >
        <div id="inner" class="content">
            <h1 style="text-align: center;color:#500000">Delete Subcommittee from <%=Committee.where(id: @subcommittee.committee).take.committee%> </h1>
            <%= form_for(@subcommittee, :url => subcommittee_path(@subcommittee.id), :method =>'delete') do |f| %>
                <p>
                <%= f.label "Subcommittee Name", style: 'text-transform: capitalize; font-weight:bold;'%>
                <br>
                <%= f.text_field :subcommittee , placeholder: @subcommittee.subcommittee, :disabled => true,style: 'text-transform: capitalize;'%>
                </p> 
                <p>   
                <%= f.label "Point Threshold", style: 'text-transform: capitalize;font-weight:bold;'%>
                <br>
                <%= f.text_field :point_threshold, placeholder: @subcommittee.point_threshold, :disabled => true%>
                </p> 
                <p>
                <%= f.submit 'Delete Subcommittee', :class => 'pure-button pure-button-primary' %>
                </p>
            <% end %>
        
        </div>
    </div>
</div>

<style>
    .content {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
    max-width: 90%;
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.3);
    border-radius: 20px;
  }
    #outer{
      background:#500000;
      padding:0;
      width:90%;
      border:2px solid black;
    }
    #inner{
      background:white;
      padding:0 2em;
      margin:20px;
      border:1px solid black;
    }
@media (max-width: 660px) {
      /* for widths less than or equal to 660 pixels */
      #outer{
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
      #inner{
        padding:0 1em;
      }
      input.pure-button{
        width:100%;
        max-width: none;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
      .content{
        max-width:100%;
      }   
    }

@media (min-width: 665px) {
  #outer{
        width:80%;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
}
@media (min-width: 60em) {
  #outer{
        width:60%;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
  }
}
</style>