<div id="main">
<div class="header">
  <h1> <%= @subcommittee.subcommittee %> Members</h1>
</div>

<div class="content" style="text-align:center;">
    <div class="pure-button-group" role="group" aria-label="...">
        <p>
        <%= link_to "Return to Subcommittees", committee_subcommittees_path(@subcommittee.committee), class: "pure-button pure-button-primary"%>
        </p>
    </div>   
    <div id="list" class="pure-u-1">
    <table class="pure-table">
        <tr class="head">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Total Points</th>
        </tr>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.total_points %></td>
        </tr>
        <% end %>
    </table>
    </div>
</div>
</div>

<style>
a{
text-decoration: none;
color: #1b98f8;
}
.header a{
color: white;
}
th{
background:#500000;
padding:8px;
}
.table{
border:2px solid black;
}
#table{
border-collapse: collapse;
width:100%;
}
.table td a{
background-color: #0078E7;
color: white;
padding:.3em;
border-radius:10px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.content {
max-width: 90%;
}
.pure-button {
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
@media 
only screen and (max-width: 760px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .header h2{
    font-size:2em;
    }

  tr { border: 2px solid #ccc;border-bottom:none;}

  .pure-table{
    border:none;
    border-bottom:2px solid #ccc;
  }

  
  .pure-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
    overflow-wrap: auto; 
  }
  
  .pure-table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    width: 45%; 
    white-space: nowrap;
    color:#500000;
    font-weight: bold;
    margin-right:10px;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "Email"; }
  td:nth-of-type(4):before {content: "Total Points";}


  .head{
    display: none;
  }
}

</style>