<h1>Hi <%=@user.first_name%>, welcome to the Engineering Honors Executive Committee Point Tracker</h1>
<h2>Please enter a password.</h2>
<div class="pure-g">
  <div class="pure-u-1">
    <%= form_for @user, url: profile_change_password_path do |f|%>
      <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
      <%= f.label :first_password, "Password" %><br>
      <%= f.password_field :first_password%><br>
      <%= f.label :second_password, "Confirm Password" %><br>
      <%= f.password_field :second_password%><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
