<div class="header"><h1>My Profile</h1></div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="content">
      <h2>Change Password</h2>
      <div class="password">
        <div class="errorM">
          <% flash.each do |type, msg| %>
            <div>
              <%= msg %>
            </div>
          <% end %>
        </div>
    <%= form_for @user, url: profile_change_password_path do |f|%>
      <p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
      <%= f.password_field :first_password, placeholder: 'Enter new password'%><br>
      <%= f.password_field :second_password, placeholder: 'Confirm new password'%><br>
      <%= f.hidden_field :id %><br>
      <%= f.submit "Submit changes", :class => 'pure-button pure-button-primary'%>
      <a class="pure-button cancel" href="/profile/" > Cancel </a>
    <% end %>
  </div>
  </div>
  </div>
</div>
<style>
  .password{
    justify-content: center;
    align-content: center;
    width:70%;
    margin:auto;
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .errorM{
    color:red;
  }
  .content h2{
    font-family: 'Roboto', Sans-Serif;
    color:white;
    background:#500000;
    margin:0;
    padding:.5em;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid #a7a7a7;

  }
  .cancel{
    background:none;
    background-color: transparent;
    color: #E4002B;
    -webkit-box-shadow:inset 0px 0px 0px 2px #E4002B;
    -moz-box-shadow:inset 0px 0px 0px 2px #E4002B;
    box-shadow:inset 0px 0px 0px 2px #E4002B;
  }
  .cancel:hover{
    background-color:#E4002B;
    color:white;
  }
  input{
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    margin-bottom:;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: .5em;
  }
  input[type="password"]{
    margin-top:20px;

  }
  #user_first_password{
    margin-top:5px;
  }
  .content {
    margin: 0 auto;
    padding: 0 2em;
    padding-left:0;
    padding-right:0;
    margin-bottom: 50px;
    margin-top:50px;
    line-height: 1.6em;
    max-width: 375px;
    box-shadow:0 3px 12px rgba(0,0,0,0.2);
    border:.5px solid rgba(0,0,0,0.2);
    border-radius: 5%;
  }
</style>