<div class="members index ">
  <div class="main">
    <div class="header">
      <h1>Members</h1>
    </div>
    <div class="center">
      <a class="btn pure-button pure-button-primary" href="/bulk_add_users/"> Back to Bulk Add Users Page </a>
    </div>

    <% if !@correct_num_cols or !@valid %>
      <div class="pure-g" style="margin-right: 2em;">
        <div class="pure-u-1">
          <div class="profile-card">
            <h1>Parsing Error</h1>
            <div class="text">
              <p>The number of columns in the uploaded table is incorrect.</p>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="content pure-g">
        <div class="pure-u-1">
          <h2 class="center dark-text" >Is this correct?</h2>
          <table class="table dark-text">
            <thead>
              <tr class = "header">
                <th>UIN</th>
              </tr>
            </thead>
            <tbody>
              <% @attendees.each  do |person| %>
                <tr>
                  <td><%= person.uin %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% if @already.length > 0 %>
            <p>Note: These UINs were rejected because the member is already listed as an attendee.
            <% @already.each do |value| %>
              <br><%= value %>
            <% end %>
            </p>
          <% end %>
          <% if @reject.length > 0 %>
            <p>Note: These UINs were rejected because they do not belong to any existing members.
            <% @reject.each do |value| %>
              <br><%= value %>
            <% end %>
            </p>
          <% end %>
          <div class="pure-button-group center btn" role="group" aria-label="...">
            <a id="cancel_btn" class="pure-button pure-button-primary" href=<%="/activities/#{@activity_id}/bulk_add"%>> Cancel</a>
            <a id="confirm_btn" class="pure-button pure-button-primary" href="/activities/<%= @activity_id %>/bulk_add/confirmed?filename=<%= @file %>"> Confirm</a>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
    padding:8px;
  }
  .table{
    border:2px solid black;
  }
  #table{
    border-collapse: collapse;
    width:100%;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
</style>
