
  <div id="main">
    <div class="header">
      <h1>Members</h1>
      <h2>Howdy <%= current_user.first_name %>, here you can view and edit members.</h2>
    </div>

    <div class="content" style="text-align:center;">

      <%= link_to("<< Back to List", members_path, :class => 'back-link') %>
      <div class="member delete">
          <h2>Delete a member</h2>
          <%= form_for(@member, :url => member_path(@member), :method => 'delete') do |f| %>
              <p> Are you sure you want to permanently delete this member from the system? </p>
              <table summary ="member delete information">
                <tr class = "header">
                  <th>First Name</th>
                  <th>Last Name </th>
                  <th>UIN</th>
                  <th>Committee</th>
                  <th>Subcommittee</th>
                  <th>Email</th>
                </tr>
                <tr>
                    <td><%= @member.first_name %></td>
                    <td><%= @member.last_name %></td>
                    <td><%= @member.uin %></td>
                    <td><%= @member.committee %></td>
                    <td><%= @member.subcommittee %></td>
                    <td><%= @member.email %></td>
                </tr>

              </table>

              <div class="form-buttons"> 
                <%= f.submit 'Delete member', :class => 'pure-button', :style => 'background: rgb(240,0,0)' %>
              </div>
           <% end %>
        </div>
      </div>
  </div>
<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
  }
  .table{
    border:2px solid black;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
</style>