
  <div id="main">
    <div class="header">
        <h1>Member</h1>
        <h2>Here are all members in EH member point Tracker</h2>
    </div>

    <div class="content" style="text-align:center;">
        <br>
        Howdy <%= current_user.first_name %>
    </div>

      <%= link_to("<< Back to List", members_path, :class => 'back-link') %>
      <div class="member delete">
          <h2>Delete a member</h2>
          <%= form_for(@member, :url => member_path(@member), :method => 'delete') do |f| %>
              <p> Are you sure you want to permanently delete this member from the system? </p>
              <table summary ="member delete information">
                <tr class = "header">
                  <th>First Name</th>
                  <th>Last Name </th>
                  <th>UIN </th>
                  <th>Emails</th>
                </tr>
                <tr>
                    <td><%= @member.first_name %></td>
                    <td><%= @member.last_name %></td>
                    <td><%= @member.uin %></td>
                    <td><%= @member.email %></td>
                </tr>

              </table>

              <div class="form-buttons">
                  <%= f.submit("Delete member") %>
              </div>
           <% end %>
      </div>
  </div>
