<div id="main">
  <div class="header">
      <h1>Members</h1>
  </div>
  <% flash.each do |type, msg| %>
    <div style="color: red">
        <%= msg %>
      </div>
      <%flash.alert = ""%>
    <% end %>
    <%= link_to("<< Back to Member page", members_path, :class => 'back-link') %>
    <div class="content new member">
      <h2>Edit Member information </h2>

      <%= form_for(@member, :url => member_path(@member), :method =>'patch') do |f| %>
        <table summary="Subject form fields">
            <tr>
                <th>UIN</th>
                <td><%= @member.uin %></td>
            </tr>

            <tr>
                <th>First Name</th>
                <td><%= f.text_field :first_name %></td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td><%= f.text_field :last_name %></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><%= f.text_field :email %></td>
            </tr>

            <tr>
                <th>Committee</th>
                <td><%= f.text_field :committee %></td>
            </tr>

            <tr>
                <th>Subcommittee</th>
                <td><%= f.text_field :subcommittee %></td>
            </tr>

            <tr>
                <th>Admin</th>
                <% # An admin can't undo their admin status%>
                <td><%= f.check_box :admin, disabled: (@member.id == session[:user_id] ? true : nil) %></td>
            </tr>

        </table>
        <div class="form-buttons">
            <%= f.submit("Update Member") %>
         </div>
        <% end %>
      </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:none;
    color:#777;
    height:20%;
    width:20%;
    padding-left:1em;
    padding-right:1em;
  }
  table{
    width:auto;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 70%;
    margin-bottom: 50px;
    line-height: 1.6em;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  
  input{
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: .5em;

  }
  button{
    cursor:pointer;

  }
</style>
