<div id="main">
  <div class="header">
      <h1>Members</h1>
      <h2>Howdy <%= current_user.first_name %>, here you can view and edit members.</h2>
  </div>
  <% flash.each do |type, msg| %>
    <div style="color: red">
        <%= msg %>
      </div>
      <%flash.alert = ""%>
    <% end %>
    <div class="content new member">
      <%= link_to("<< Back to List", members_path, :class => 'back-link') %>
      <h2>Edit Member information </h2>

      <%= form_for(@member, :url => member_path(@member), :method =>'patch') do |f| %>
        <table summary="Subject form fields">
            <tr>
                <th>UIN</th>
                <td><%= @member.uin %></td>
            </tr>

            <tr>
                <th>First Name</th>
                <td><%= f.text_field :first_name %></td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td><%= f.text_field :last_name %></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><%= f.text_field :email %></td>
            </tr>

            <tr>
                <th>Committee</th>
                <td><%= f.text_field :committee %></td>
            </tr>

            <tr>
                <th>Subcommittee</th>
                <td><%= f.text_field :subcommittee %></td>
            </tr>

            <tr>
                <th>Admin</th>
                <% # An admin can't undo their admin status%>
                <td><%= f.check_box :admin, disabled: (@member.id == session[:user_id] ? true : nil) %></td>
            </tr>
        </table>
        <div class="form-buttons">
            <%= f.submit("Update Member") %>
         </div>
        <% end %>
      </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
  }
  .table{
    border:2px solid black;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  </style>