
<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
      <br>

    </div>

    <div class="content" style="text-align:center;">
      <br>

      <div class="pure-button-group" role="group" aria-label="...">
        <a class="pure-button pure-button-primary" href= members/new> Create New Member</a>

        <% if admin? %>
          <a id="bulk_add_users_btn" class="pure-button pure-button-primary" href= /bulk_add_users>Bulk Add Users</a>

        <% end %>

        <%= form_tag href='members', :class => "pure-form pure-form-stacked", method: :get  do %>
          <%= text_field_tag :search, params[:search], :value=> params[:search],:pattern => "[0-9]+", :required => true %>

          <%= submit_tag 'Set Threshold Points Below', :class => "pure-button pure-button-primary", :name=>'below' %>
          <%= submit_tag 'Set Threshold Points Above', :class => "pure-button pure-button-primary", :name=>'above' %>
        <% end %>
      </div>

      <br>


      <div class="table">
        <table summary="member detail view">
          <tr class = "header">
            <th><%= sortable "First name  ","first_name" %></th>
            <th><%= sortable "Last name  ","last_name" %> </th>
            <th><%= sortable "Committee  ","committee" %> </th>
            <th><%= sortable "Subcommittee  ","subcommittee" %> </th>
            <th><%= sortable "Email  ","email" %></th>
            <th><%= sortable "Total points  ","total_points" %></th>
            <th>Actions </th>
          </tr>

          <% @members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.display_committee %></td>
            <td><%= member.display_subcommittee %></td>
            <td><%= member.email %></td>
            <td><%= member.display_total_points %></td>
            <td class="actions">
              <%= link_to("Profile", member_path(member), :class => 'action show') %>
              <%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
              <%= link_to("Delete",delete_member_path(member), :class => 'action delete') %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
    padding:8px;
  }
  .table{
    border:2px solid black;
  }
  #table{
    border-collapse: collapse;
    width:100%;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .table th .current{
    padding-right: 0;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .table th .asc{
    background-image: url(up_arrow.gif);
    background-size: 10px 10px;
  }

  .table th .desc{
    background-image: url(down_arrow.gif);
    background-size: 10px 10px;
  }

  .content {
    max-width: 80%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

</style>
