
<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
    </div>

    <div class="content" style="text-align:center;">
      <br>
      <div class="pure-button-group" role="group" aria-label="...">
      <a class="pure-button pure-button-primary" href= members/new> Create new member</a>

      <% if is_admin? %>
            <a class="pure-button pure-button-primary" href= /bulk_add_users>Bulk Add Users</a>

        <% end %>
      </div>
      
      <a class="pure-button pure-button-primary" href= members/show_threshold_points>Search By Threshold Point</a>

      <%= form_for "", url:members_path, role:"search", method: :get do %>
      <% end %>
      
      <div class="table">
        <table summary="member detail view">
          <tr class = "header">
            <th><%= sortable "First name","first_name" %></th>
            <th><%= sortable "Last name","last_name" %> </th>
            <th><%= sortable "Committee","committee" %> </th>
            <th><%= sortable "Subcommittee","subcommittee" %> </th>
            <th><%= sortable "Email","email" %></th>
            <th><%= sortable "Total points","total_points" %></th>
            <th>Actions </th>
          </tr>

          <% @members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.display_committee %></td>
            <td><%= member.display_subcommittee %></td>
            <td><%= member.email %></td>
            <td><%= member.display_total_points %></td>
            <td class="actions">
              <%= link_to("Profile", member_path(member), :class => 'action show') %>
              <%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
              <%= link_to("Delete",delete_member_path(member), :class => 'action delete') %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
</div>
<script>

</script>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
    padding:8px;
  }
  .table{
    border:2px solid black;
  }
  #table{
    border-collapse: collapse;
    width:100%;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

</style>
