
<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
      <br>

    </div>

    <div class="content" style="text-align:center;">
      <br>

      <div class="pure-button-group" role="group" aria-label="...">
        <a class="pure-button pure-button-primary" href= members/new>Create New Member</a>

        <% if admin? %>
          <a id="bulk_add_users_btn" class="pure-button pure-button-primary" href=/bulk_add_users >Bulk Add Users</a>
          <a id="point_threshold_btn" class="pure-button pure-button-primary" href=members/point_threshold >Change Point Threshold</a>
        <% end %>

        <%= form_tag href='members', :class => "pure-form pure-form-stacked", method: :get do %>
          <%= text_field_tag :search, params[:search], :value=> params[:search],:pattern => "[0-9]+", :required => true %>

          <%= submit_tag 'Set Threshold Points Below', :class => "pure-button pure-button-primary", :name=>'below' %>
          <%= submit_tag 'Set Threshold Points Above', :class => "pure-button pure-button-primary", :name=>'above' %>
        <% end %>
      </div>

      <br>
         
        <div class="table">
          <table class="center" width="100%" summary="member detail view">
            <tr class = "head">
              <th class = "lhead"><%= sortable "First name  ","first_name" %></th>
              <th class = "rhead"><%= sortable "Last name  ","last_name" %> </th>
              <th class = "lhead"><%= sortable "Committee  ","committee" %> </th>
              <th class = "rhead"><%= sortable "Subcommittee  ","subcommittee" %> </th>
              <th class = "lhead"><%= sortable "Email  ","email" %></th>
              <th class = "rhead"><%= sortable "Total points  ","total_points" %></th>
              <th class="act">Actions </th>
            </tr>

            <% @members.each do |member| %>
            <tr>
              <td data-label="First Name"><%= member.first_name %></td>
              <td data-label="Last Name"><%= member.last_name %></td>
              <td data-label="Committee"><%= member.display_committee %></td>
              <td data-label="Subcommittee"><%= member.display_subcommittee %></td>
              <td data-label="Email"><%= member.email %></td>
              <td data-label="Total Points"><%= member.display_total_points %></td>
              <td class="actions">
                <%= link_to("Profile", member_path(member), :class => 'action show') %>
                <%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
                <%= link_to("Delete",delete_member_path(member), :class => 'action delete') %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>

<script>
  /*
  $(window).on('resize', function(event){
    var windowSize = $(window).width(); // Could've done $(this).width()
      if(windowSize < 760){
        $('#head').css('background-color', 'red');
      }
  });*/
</script>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .head a{
    color: white;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  table { 
  width: 100%; 
  border-collapse: collapse;
  border: 2px solid black; 
  border-radius: 10px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #500000; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
td{
  color:black;
}
table th .current{
    padding-right: 0;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .table th .asc{
    background-image: url(up_arrow.gif);
    background-size: 10px 10px;
  }

  .table th .desc{
    background-image: url(down_arrow.gif);
    background-size: 10px 10px;
  }

@media 
only screen and (max-width: 760px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  .content{
    width:100%;
  }
  .header{
    width:100%;
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .act{
    display:none;
  }
  .head{
    width:100%;
    content: "";
    display: table;
    clear: both;
    border:none;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
  }
    .lhead{
      float: left;
      width: 46%;
      text-align:center;
      
    }
    .rhead{
      float: right;
      width: 46%;
      text-align:center;
    }

  th { border:none; border-bottom:1px solid #ccc; }
  th:nth-of-type(1){ border-top-left-radius:8px; }
  th:nth-of-type(2){ border-top-right-radius:8px; }
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
    max-width: 50%;
  }

  td:nth-of-type(5){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  td:nth-of-type(5):hover{
    overflow: visible;
    text-overflow: 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    
    color:#500000;
    font-weight: bold;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "Committee"; }
  td:nth-of-type(4):before { content: "Subcommittee"; }
  td:nth-of-type(5):before { content: "Email"; }
  td:nth-of-type(6):before { content: "Total Points"; }
}
@media 
only screen and (max-width: 367px)  {
    .lhead{
      width: 45%;
      
    }
    .rhead{
      width: 45%;
    }
  }
</style>
