<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
      <h2>Howdy <%= current_user.first_name %>, here you can view and edit members.</h2>
    </div>

    <div class="content" style="text-align:center;">
      <br>
      <a class="button" href= members/new> Create new member</a>
      <a class="button" href= /bulk_add_users>Bulk Add Users</a>

      <%= form_for "", url:members_path, role:"search", method: :get do %>
      <% end %>
      <div class="table">
        <table summary="member detail view">
          <tr class = "header">
            <th><%= sortable "First name","first_name" %></th>
            <th><%= sortable "Last name","last_name" %> </th>
            <th><%= sortable "Committee","committee" %> </th>
            <th><%= sortable "Subcommittee","subcommittee" %> </th>
            <th><%= sortable "Email","email" %></th>
            <th><%= sortable "Total points","total_points" %></th>
            <th>Actions </th>
          </tr>

          <% @members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.display_committee %></td>
            <td><%= member.display_subcommittee %></td>
            <td><%= member.email %></td>
            <td><%= member.display_total_points %></td>
            <td class="actions">
              <%= link_to("Profile", member_path(member), :class => 'action show') %>
              <%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
              <%= link_to("Delete",delete_member_path(member), :class => 'action delete') %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
