<div id="main">
  <div class="header">
      <h1>Members</h1>
  </div>
  <%= link_to("<< Back to Member page", members_path, :class => 'back-link') %>
    <div id="outer" class="content" style="margin-top:10px">
        <div id="inner" class="content">
            <h1 style="text-align: center;color:#500000">Create a Member</h1>
            <br>
            <%= form_for(@member, :url => members_path, :method =>'post') do |f| %>
              <table id="formTable" class="bounded" summary="Subject form fields">
                  <tr>
                      <th>First Name</th>
                      <td><%= f.text_field :first_name , style: 'text-transform: capitalize;'%></td>
                  </tr>
        
                  <tr>
                      <th>Last Name</th>
                      <td><%= f.text_field :last_name, style: 'text-transform: capitalize;' %></td>
                  </tr>

                  <tr>
                      <th>UIN</th>
                      <td><%= f.text_field :uin %></td>
                  </tr>
                
                  <tr>
                      <th>Email</th>
                      <td><%= f.text_field :email %></td>
                  </tr>
                
                  <tr>
                      <!--This should be a dropdown in the future-->
                      <th>Committee</th>
                      <td><%= f.text_field :committee %></td>
                  </tr>
                
                  <tr>
                      <!--This should be a dropdown in the future-->
                      <th>Subcommittee</th>
                      <td><%= f.text_field :subcommittee %></td>
                  </tr>
                
                  <tr>
                      <th>Total Points</th>
                      <!--This should be a dropdown in the future-->
                      <td><%= f.text_field :total_points %></td>
                  </tr>

                  <tr>
                      <th id="noStyle">Admin</th>
                      <td id="noStyle"><%= f.check_box :admin %></td>
                  </tr>

              </table>

              <%= f.submit 'Create New Member', :class => 'pure-button pure-button-primary' %>
              <% end %>
      
          </div>
      </div>
</div>
<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:none;
    color:#777;
    height:20%;
  }
  .table{
    border:2px solid black;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
    max-width: 90%;
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.3);
    border-radius: 20px;
  }
    #outer{
      background:#500000;
      padding:0;
      width:90%;
      border:2px solid black;
    }
    #inner{
      background:white;
      padding:0 2em;
      margin:20px;
      border:1px solid black;
    }

  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  
  input{
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: .5em;
  }
  button{
    cursor:pointer;

  }
  #formTable{

    justify-content: center;

  }
  .input[type="submit" i] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    background-color: #0078E7;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

@media 
only screen and (max-width: 475px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .act{
    display:none;
  }
  .head{
    width:100%;
    content: "";
    display: table;
    clear: both;
    border:none;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
  }
    .lhead{
      float: left;
      width: 46%;
      text-align:center;
      
    }
    .rhead{
      float: right;
      width: 46%;
      text-align:center;
    }


  td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    border-bottom: 3px solid #ddd;
    border-left: 1px solid #ddd;
  }
  th{
    border-left: 1px solid #ddd;
    padding-left: 10px;
  }
  tr{
    margin-bottom:15px;
  }
  #noStyle{
    border-left:none;
    border-bottom: none;
    margin-bottom:none;
  }

}

@media (max-width: 660px) {
      /* for widths less than or equal to 660 pixels */
      #outer{
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
      #inner{
        padding:0 1em;
      }
      input.pure-button{
        width:100%;
        max-width: none;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
      .content{
        max-width:100%;
      }   
    }

@media (min-width: 665px) {
  #outer{
        width:80%;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
      }
}
@media (min-width: 60em) {
  #outer{
        width:60%;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -webkit-transition: width .5s ease-in-out, left .5s ease-in-out;
        -moz-transition: width .5s ease-in-out, left .5s ease-in-out;
        -o-transition: width .5s ease-in-out, left .5s ease-in-out;
        transition: width .5s ease-in-out, left .5s ease-in-out;
  }
}


</style>
