<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
<link href="https://fonts.googleapis.com/css?family=Lora|Roboto:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
    </div>

  <div class = "Member detail show">
  <%= button_to("Return to members", members_path, :method => "get", :class => 'back-link', :class=>"pure-button pure-button-primary") %>
      <h2 style="margin-left:2em;">Member Details </h2>
       <div class="profile-boxes pure-g">
          <div class="pure-u-1">
            <div class="profile-card">
                <h1>
                  <%= @member.first_name %>
                  <%= @member.last_name %>
                </h1>

                <div class="profile-info">
                  <h2 style="font-size:30px;font-family: 'Roboto', Sans-Serif;color:#003C71;margin:0;padding:.5em;text-align: left;"> General Info </h2>

                  <div class="content" style="padding-top: 20px;padding-left: 20px">
                    <i class="fa fa-user fa-5x"></i>
                  </div>

                  <div class="content">
                    <p>
                      <label> <strong>UIN: </strong></label>
                      <%= @member.uin %>
                    </p>
                    <p>
                      <label> <strong>Email: </strong></label>
                      <a><%= @member.email %></a>
                    </p>
                    <p>
                      <label> <strong>Member Type: </strong></label>
                      <% if @member.admin? %>
                        <a>Admin </a>
                      <%else%>
                        <a>Member </a>
                      <%end%>
                    </p>
                    <p>
                      <label> <strong>Committee: </strong></label>
                      <%= @member.display_committee %>
                    </p>
                    <p>
                      <label> <strong>Subcommittee: </strong></label>
                      <%= @member.display_subcommittee %>
                    </p>
                    <p>
                      <label> <strong>Committee Head: </strong></label>
                      <%= @member.display_committee_head %>
                    </p>
                    <p>
                      <label> <strong>Committee Head Contact: </strong></label>
                      <a> <%=@member.display_committee_email%> </a>
                      <i class='fas fa-envelope'></i>
                    </p>
                  </div>

                </div>

                <div id="points" class="profile-points">

                <div class="point-title">
                  <h2 class="lefto"> Points </h2>
                  <div class="left">
                    <h2>Total points</h2>
                    <p style="text-align: center;font-size: 25px"> <%= @member.total_points%></p>
                  </div>
                  <div class="right">
                    <h2> Goal </h2>
                    <p style="text-align: center;font-size: 25px"> <%= @member.point_threshold %> </p>
                  </div>
                </div>

                <div class="meter">
                  <div class="progress">
                    <div id="mePts" class="progress-bar" style="border-top-left-radius: 20px;border-bottom-left-radius: 20px;"> </div>
                    <div id="evPts" class="progress-bar" style="background-color: #bf892d;"> </div>
                    <div id="miPts" class="progress-bar" style="background-color: #bf402d;"> </div>
                  </div>
                </div>

                <div class="content">
                  <h3> Points Breakdown </h3>
                  <p id="meeting" hidden><%= @member.meeting_points%></p>
                  <p class="mPoints"><label><strong>Meeting points: </strong></label><%=@member.meeting_points%> </p>
                  <p id="event" hidden><%= @member.event_points%></p>
                  <p class="ePoints"><label><strong>Event points: </strong></label> <%=@member.event_points%> </p>
                  <p id="misc" hidden><%= @member.misc_points%></p>
                  <p class="miPoints"><label><strong>Miscellaneous points: </strong></label><%=@member.misc_points%> </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<script>

  /*
    Searches for the points of the user in the html and converts them into the width of the progress bar components
  */
  $(document).ready(function(){
    /*Meeting points*/
    var meeting = document.getElementById("meeting");
    var containMPoints = meeting.innerHTML;
    var mmeter = document.getElementById("mePts");
    mmeter.style.width=containMPoints+'%';
    $("#mePts").html(function(){
      return String(containMPoints);
    });

    /*Event points*/
    var event = document.getElementById("event");
    var containEPoints = event.innerHTML;
    var emeter = document.getElementById("evPts");
    emeter.style.width=containEPoints+'%';
    $("#evPts").html(function(){
      return String(containEPoints);
    });

    /*Miscellaneous points*/
    var misc = document.getElementById("misc");
    var containMiPoints = misc.innerHTML;
    var mimeter = document.getElementById("miPts");
    mimeter.style.width=containMiPoints+'%';
    $("#miPts").html(function(){
      return String(containMiPoints);
    });
  });

</script>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .content {
    max-width: 90%;
  }
  .profile-boxes{
        margin-right:4em;
    }
    .profile-card{
        padding:0;
        background:#f6f6f6;
        margin:1em;
        margin-left:2em;
        border: 3px solid #333333;
        border-radius: 25px;
        color:black;
        content: "";
        display: table;
        clear: both;
        width:100%;
        box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12)
        ;
    }
        .profile-card h1{
            font-family: 'Roboto', Sans-Serif;
            color:white;
            background:#500000;
            margin:0;
            padding:.5em;
            text-align: left;
            border-radius: 20px 20px 0px 0px;
            border-bottom: 2px solid #a7a7a7;
        }

        .profile-info{
            float: left;
            width: 50%;
            border-right: 2px solid #a7a7a7;
        }
        .profile-points{
            float: right;
            width: 48%;
        }

        .point-title{
            content: "";
            display: table;
            clear: both;
            width:100%;
        }
        .point-title h2{
            font-family: "Roboto", Sans-Serif;
        }
            .left{
                float: left;
                width: 50%;
                text-align:center;
            }
            .lefto{
                float: left;
                width: 50%;
                font-size:30px;
                font-family: "Roboto", Sans-Serif;
                color:#003C71;
                margin:0;
                padding:.5em;
                text-align: left;
            }
            .right{
                float: right;
                width: 50%;
                text-align:center;
            }
            .righto{
                float:right;
                width: 40%;
            }
            .group:after {
                content:"";
                display: table;
                clear: both;
            }
    .content{
        text-align:left;
        font-size:20px;

        color:black;
        margin-left:1rem;
        padding:0;
        font-family:'Lora', Serif;
    }
        .content a{
            color:#006483;
            text-decoration: none;
        }
        .content label{
            font-family: 'Roboto', Sans-Serif;
        }
        .content h3{
            color:#003C71;
            border-bottom: 2px solid #a7a7a7;
            margin-right:1em;
            font-family: 'Roboto', Sans-Serif;

        }
    .meter {
        height: 20px;  /* Can be anything */
        position: relative;
        background: #a7a7a7;
        color:white;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 8px;
        margin:1rem;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    }
    .progress {
        height: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-top-left-radius: 20px;border-bottom-left-radius: 20px;
        border-top-right-radius: 8px;border-bottom-right-radius: 8px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    }
    .progress-bar {
        float: left;
        width: 0%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        background-color: #2d76bf;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
</style>
