<div class = "members index">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
      <h2>Howdy <%= current_user.first_name %>, here you can view and edit members.</h2>
    </div>

<div class = "Member detail show content">
<%= link_to("<<Back to member page",members_path, :class => 'back-link') %>
    <h2>Member Details </h2>
    <table summary="member detail view">
        <tr>
            <th>UIN</th>
            <td><%= @member.uin %> </tb>
        </tr>
        <tr>
            <th>First Name</th>
            <td><%= @member.first_name%> </tb>
        </tr>

        <tr>
            <th>Last Name</th>
            <td><%= @member.last_name %> </tb>
        </tr>

        <tr>
            <th>Email</th>
            <td><%= @member.email %> </tb>
        </tr>

        <tr>
            <th>Event Points</th>
             <td><%= @member.display_total_points%> </tb>
        </tr>
        <tr>
            <th>Meeting Points</th>
             <td><%= @member.display_meeting_points %> </tb>
        </tr>
        <tr>
            <th>Total Points</th>
             <td><%= @member.display_event_points%> </tb>
        </tr>

        <tr>
            <th>Committee</th>
             <td><%= @member.display_committee%> </tb>
        </tr>

        <tr>
            <th>Subcommittee</th>
             <td><%= @member.display_subcommittee %> </tb>
        </tr>

        <tr>
            <th>Admin</th>
             <td><%= @member.admin %> </tb>
        </tr>
    </table>
</div>
</div>
