<div class = "members index">
  <div id="main">
    <div class="header">
        <h1>Members</h1>
    </div>

<div class = "Member detail show content">
<%= link_to("<<Back to member page",members_path, :class => 'back-link') %>
    <h2>Member Details </h2>
    <table summary="member detail view">
        <tr>
            <th>First Name</th>
            <td><%= @member.first_name%> </tb>
        </tr>

        <tr>
            <th>Last Name</th>
            <td><%= @member.last_name %> </tb>
        </tr>

        <tr>
            <th>Email</th>
            <td><%= @member.email %> </tb>
        </tr>

        <tr>
            <th>Event Points</th>
             <td><%= @member.total_points || "0" %> </tb>
        </tr>
        <tr>
            <th>Meeting Points</th>
             <td><%= @member.meeting_points || "0" %> </tb>
        </tr>
        <tr>
            <th>Total Points</th>
             <td><%= @member.event_points || "0"%> </tb>
        </tr>
        
        <tr>
            <th>Committee</th>
             <td><%= @member.committee.blank? ? "No assigned committee" : @member.committee%> </tb>
        </tr>
        
        <tr>
            <th>Subcommittee</th>
             <td><%= @member.subcommittee.blank? ? "No assigned subcommittee" : @member.subcommittee %> </tb>
        </tr>
        
        <tr>
            <th>Admin</th>
             <td><%= @member.admin %> </tb>
        </tr>
    </table>
</div>
</div>
