
<div class = "members show_threshold_points">
  <div id="main">
    <div class="header">
      <h1>Members</h1>
    </div>

    <div class="content" style="text-align:center;">
      <br>
      <%= link_to("<<Back to member page",members_path, :class => 'back-link') %>

      <%= form_tag href='show_threshold_points', :class => "pure-form pure-form-stacked", method: :get  do %>
        <%= text_field_tag :search, params[:search], :pattern => "[0-9]+", :required => true %>
        <%= submit_tag 'Set Threshold Points', :class => "pure-button pure-button-primary", :id => "set_threshold" %>
      <% end %>


      <%= form_for "", url:members_path, role:"search", method: :get do %>
      <% end %>
      <div class="table">
        <table summary="member detail view">
          <tr class = "header">
            <th><%=  "First name" %></th>
            <th><%=  "Last name" %> </th>
            <th><%=  "Committee" %> </th>
            <th><%=  "Subcommittee" %> </th>
            <th><%=  "Email" %></th>
            <th><%=  "Total points" %></th>
            <th>Actions </th>
          </tr>

          <% @members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <td><%= member.display_committee %></td>
            <td><%= member.display_subcommittee %></td>
            <td><%= member.email %></td>
            <td><%= member.display_total_points %></td>
            <td class="actions">
              <%= link_to("Profile", member_path(member), :class => 'action show') %>
              <%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
              <%= link_to("Delete",delete_member_path(member), :class => 'action delete') %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;
  }
  .table{
    border:2px solid black;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

</style>
